html {
  font-size: 62.5%;
}

body {
  background-color: #28294c;
}

.container {
  padding-top: 9.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-list {
  list-style: none;
  padding-top: 1.2rem;
}

.debug-text {
  font-size: 1.6rem;
  text-align: center;
  justify-content: left;
  color: aliceblue;
  font-weight: 700;
}